@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* pallette */
  --blue-darkest: #03254c;
  --blue-dark: #1167b1;
  --blue-mid: #187bcd;
  --blue-light: #2a9df4;
  --blue-lightest: #d0efff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--blue-lightest);
  font-family: poppins, sans-serif;
}
body {
  min-height: 100vh;
  background: var(--blue-darkest);
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 0.5fr 3fr 0.3fr/ 1fr 2fr 2fr;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "footer footer footer";
}
header,
aside,
main,
footer {
  content: "";
  width: 100%;
  height: 100%;
}
header {
  position: relative;
  grid-area: header;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: double 3px var(--blue-darkest);

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    border-radius: 20% 50%;
  }
  & h1 {
    margin: 0 auto 0 20%;
    z-index: 6;
  }
  & nav {
    position: relative;
    z-index: 5;
    display: flex;
    gap: 10px;
    margin-right: 10%;
    & a {
      text-decoration: none;
      color: var(--blue-light);
      background-color: var(--blue-darkest);
      padding: 10px;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 500;
      transition: 0.3s;
      &:hover {
        color: var(--blue-mid);
      }
    }
  }
}
aside {
  position: relative;
  grid-area: aside;
  background-color: var(--blue-dark);
  display: grid;
  place-items: center;
  gap: 20px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 20%;
    top: 0;
    width: 100%;
    height: 60%;
    background: var(--blue-dark);
    border-radius: 50% 10%;
  }
  &:after {
    top: 41%;
    left: 10%;
    height: 50%;
    border-radius: 10% 40% 50% 40%;
  }
  & .aside-stuff {
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    & p {
      padding: 0 10px;
    }
  }
}
main {
  grid-area: main;
  background-color: var(--blue-darkest);
  background-color: color-mix(in srgb, var(--blue-darkest), transparent);
  z-index: 2;
  padding: 50px 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  & .personal {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > p:first-child {
      margin-bottom: 5%;
      font-size: 1.5em;
    }
    & .stacks {
      border: 1px dashed var(--blue-light);
      border-radius: 5px;
      background: #00000033;
      padding-block: 20px 30px;
      padding-inline: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & h2 {
      font-size: 1.6em;
      padding: 10px 20px 10px 0;
    }
    & .techs {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      min-width: 100%;
      justify-content: space-around;
      align-items: center;
      & > li {
        list-style-type: none;
        border: solid 1px var(--blue-light);
        padding: 20px;
        height: 250px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: inset 1px 1px 5px 1px var(--blue-light);
        & > h3 {
          width: 100%;
          padding: 20px 0 0 0;
          margin-bottom: 10px;
          border-bottom: 1px solid var(--blue-light);
        }
      }
    }
  }
  & .css-stuff h2 {
    padding: 0 20px;
  }
  .external-link {
    width: min(100%, 700px);
    padding: 0 20px;
    & a {
      color: var(--blue-light);
    }
  }
  & #contacts {
    background: #00000022;
    padding: 10px;
    border-radius: 10px 0;
    margin: 0 10px 100px 10px;
    & .handles {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 20px;
      & a {
        color: var(--blue-light);
      }
    }
  }
  & .comments {
    padding: 0 10px 0 20px;
    & form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 20px;
      & input,
      & textarea {
        background: var(--blue-dark);
        background: color-mix(in srgb, var(--blue-dark), transparent 10%);
        color: white;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        border: 1px solid var(--blue-light);
        &::placeholder {
          color: var(--blue-darkest);
        }
        &[type="submit"] {
          width: 30%;
          padding: 5px;
          align-self: end;
          color: var(--blue-lightest);
          font-weight: 600;
          cursor: pointer;
          font-size: 0.9em;
          text-wrap: wrap;
          transform: translateX(-25%);
        }
      }
    }
    & .comments-available {
      padding: 50px 0;

      & .comment {
        margin: 10px 30px;
        border: 1px dotted var(--blue-mid);
        padding: 20px;
        border-radius: 20px 5px;
        & p {
          padding-left: 10px;
        }
      }
    }
  }
}
footer {
  grid-area: footer;
  background-color: var(--blue-mid);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;

  & .copyright {
    margin-right: auto;
  }
  & .social {
    height: 30px;
    display: flex;
    gap: 20px;
    margin-right: 10%;

    & a {
      height: 100%;
      aspect-ratio: 1;
      background-color: var(--blue-lightest);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  :root {
    font-size: 0.9em;
  }
  .container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    & header,
    & aside,
    & main,
    & footer {
      width: 100vw;
      height: max-content;
      position: relative;
      overflow-y: visible;
    }
    & header {
      position: fixed;
      top: 0;
      z-index: 5;
      & h1 {
        margin-left: 5px;
        font-size: 1.3em;
      }

      &:before {
        display: none;
      }
    }

    & main {
      position: relative;
      top: 150px;
      z-index: 4;
      padding: 0 10px;
    }

    & aside {
      background-color: transparent;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      & p,
      & h2,
      &:before,
      &:after {
        display: none;
      }
    }
    & footer {
      position: fixed;
      bottom: 0;
      z-index: 10;
      padding: 10px 0 5px 0;
    }
  }
}
